div.homebanner {
    background-image: url('/Users/joshuadalton/Freebirds Project/freebirds.github.io/jdalton-freebirds.github.io/denali-mountains-mount-mckinley-sunrise.jpeg');
    background-repeat: none;
    /*background-position: center;*/
    max-height: fit-content;
    background-size: cover;
}

#homebanner {
    background-image: url('/Users/joshuadalton/Freebirds Project/freebirds.github.io/jdalton-freebirds.github.io/denali-mountains-mount-mckinley-sunrise.jpeg');
    background-repeat: none;
    height: 800px;
    max-height: fit-content;
    background-size: cover;
}

#freebirdswb {
    align-self: center;
    margin-top: 300px;
    height: 240px;
    width: 800px;
}