#homebanner {
    background-image: url('/Users/joshuadalton/Freebirds Project/freebirds.github.io/jdalton-freebirds.github.io/denali-mountains-mount-mckinley-sunrise.jpeg');
    background-repeat: none;
    height: 800px;
    max-height: fit-content;
    background-size: cover;
    opacity: 75%;
}

#middlebanner {
    background-image: url('bigbend-lajitas-peak.jpeg');
    background-repeat: none;
    height: 800px;
    max-height: fit-content;
    background-size: cover;
}

#freebirdswb {
    align-self: center;
    margin-top: 250px;
    height: 240px;
    width: 800px;
}