/* Freebirds Brand Colors*/

/* Primary Colors
Carbon: #323131
Orange: #FF7500
Alabaster: #EEEBE1
White: #FFFFFF
*/

/* Secondary Colors
Sky Blue: #8BC4D1
Blue: #4188DC
Green: #4B9959
*/

/* Tertiary Colors
Deep Blue: #204648
Deep Orange: #5E2500
Deep Green: #0C3D0C
*/

#homebanner {
    background-image: url('metaverse-sun.jpeg');
    background-repeat: none;
    height: 900px;
    max-height: fit-content;
    background-size: cover;
    opacity: 100%;
}

.teamsection-header {
    color: #FF7500;
    margin-bottom: 50px;
    text-align: center;
}

.c-orange {
    color: #FF7500; }

.tracked-terminal {
        letter-spacing: .1em; }

.lh-solid {
    line-height: 1; }
    
.lh-title {
    line-height: 1.25; }

.lh-copy {
    line-height: 1.5; }

.lh-blink {
    line-height: 1.15; }

.dib-m {
    display: inline-block; }

    .fbtn {
        background-color: #FF7401;
        display: block;
        padding: 15px 40px;
        text-align: center;
        color: white;
        font-family: "Nitti Grotesk";
        border-radius: 3px;
        font-size: 20px;
        font-weight: 600; }
        @media (min-width: 768px) {
          .fbtn {
            display: inline-block; } }
        .fbtn:hover, .btn:focus {
          background-color: #7ACCF1;
          cursor: pointer;
          outline: 0;
          transition: background-color 0.5s ease; }
        .fbtn:active {
          background-color: #89D5EF;
          transition: background-color 0.5s ease; }

.autotype:after {
    content: "assets";
    background-color: none;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 1em; }

#blackbanner { 
    background-color: #323131;
    background-repeat: none;
    height: 900px;
    max-height: fit-content;
    background-size: cover;
}

#middlebanner {
    background-image: url('bigbend-lajitas-peak.jpeg');
    background-repeat: none;
    height: 900px;
    max-height: fit-content;
    background-size: cover;
}

#freebirdswb {
    align-self: center;
    margin-top: 150px;
    margin-left: 30px;
    height: 200px;
    width: 600px;
}

#freewings {
    align-self: center;
    margin-top: 1px;
    height: 80px;
    width: 120px;
}

#peoplepage {
    margin-top: 120px;
    height: 35%;
    width: 35%;
    border-radius: 50%;
}


header {background-color: #323131;
}

/* Navigation Bar in the Header */
.navbar {
overflow: hidden;
text-align: center;
text-decoration: none;
background: transparent;
font-size: 20px;
font-family: Geneva;
font-style: normal;
display: inline-block;
padding: 0px 10px;
margin: 25px 0px 25px;
}

.navtable a :hover {
background: grey;
opacity: 80%;
color: blue;
display: inline-table;
block-size: 100px;
padding: 1px 10px;
margin-right: 50px;
}
.navtable {
border: #1a1b1c;
box-sizing: border-box;
border-color: transparent;
border-style: solid;
border-spacing: 2px;
column-gap: 25px;
margin-right: 30px;
}
.margins {
align-self: center;
margin-left:        150px; 
margin-right:       150px; 
margin-top:         50px;
margin-bottom:      50px;
}

.column {
    float: left;
    width: 33%;
}

/* Clear floats after the columns */

.row::after {
    content: "";
    display: table;
    clear: both;
}

ul li {
    display: inline;
}

